<div class="container">
  <div class="row">
    <div class="col-4 left-side">
      <p class="h1">Start your business today.</p>
      <div class="card">
        <p>I launched my business successfuly within 24 hours using this service.</p>
        <h6>Todd Mastin</h6>
      </div>
    </div>
      <div class="col-8 right-side">
          <p class="h5">Creating your company in US is just a few steps away.</p>
          <p class="h5">Enter your Email address to continue</p>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="example@email.com">
          <div class="input-group-append">
            <button class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
  </div>
</div>
